/* Universal selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
    color: rgb(51, 51, 51);
    font-family: sans-serif;
    line-height: 1.4;
}

h1 {
    text-align: center;
}

h2,
h3 {
    text-align: left;
}

/* h2,
h3,
a,
ul,
li,
p {
    margin-left: 52px;
} */

/* Product */
.product {
    border: 5px solid black;
    width: 1350px;
    margin: 75px auto;
    position: relative;
}

.product-title {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: rgba(88, 88, 88, 0.564);
    padding: 25px;
}

.img-container {
    display: inline;
    margin-bottom: 0;
}


/* Price and Shipping */
.price {
    font-size: 22px;
    margin-bottom: 15px;
}

.price-adjust {
    font-size: 28px;
}

.shipping {
    font-size: 14px;
    color: rgb(188, 188, 188);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
    /* margin-left: -10px */
}

/* SALE COMPONENT */
.sale {
    background-color: rgb(214, 24, 24);
    color: white;
    border-radius: 5px;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
    padding: 10px 18px;
    display: inline-block;
    position: absolute;
    top: -25px;
    left: -104px;
}

.sale {
    animation: wobble 1.5s ease-in-out 2;
    transform-origin: center top;
    transition: padding .1s;
    cursor: pointer;
}


@keyframes wobble {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(3deg);
    }

    50% {
        transform: rotate(-3deg);
    }

    75% {
        transform: rotate(2deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

/* MORE INFORMATION */

.more-info {
    color: black;
    font-size: 15px;
    display: inline-block;
}

.info-margin {
    margin-bottom: 60px;
}

.more-info:link {
    color: black;
    text-decoration: none;
    display: inline-block;
}

.more-info:hover,
.more-info:active {
    color: rgb(0, 0, 0);
    text-decoration: underline;
    transition: transform 0.1s;
    transform: scale(1.2);
}


/* FEATURES */

.features-title {
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 15px;
}

.features-list {
    font-size: 18px;
    list-style: square;
    /* margin-left: 94px; */
}

.features-list li {
    margin-bottom: 5px;
}

.features-list li:last-child {
    margin-bottom: 20px;
}

/* COLOR OPTIONS */

/* .color-div {
    margin-left: 52px;
    margin-bottom: 28px;
    display: inline-block;
} */

.colors {
    height: 30px;
    width: 30px;
    filter: blur;
    border-radius: 50px;
    margin-right: 10px;
    display: inline-block;
}

.natural-leather {
    background-color: rgb(77, 51, 26)
}

.smokey-brown {
    background-color: rgb(65, 55, 45);
}

.forest-green {
    background-color: rgb(33, 54, 18);
}

.deep-blue {
    background-color: rgb(3, 40, 67);
}

.sand {
    background-color: rgb(164, 158, 141);
}

.ashe {
    background-color: rgb(79, 79, 79);
}

.colors:hover {
    transform: scale(2);
    box-shadow: 0 0 0 2px rgba(165, 165, 165, 0.464);
    transition: transform 0.2s;
    transform: scale(1.8);
    cursor: pointer;
}


/*  BUTTON  */

.add-cart {
    font-size: 20px;
    border: 0px solid;
    color: rgb(253, 253, 253);
    background-color: rgb(0, 0, 0);
    width: 100%;
    padding: 20px;
    cursor: pointer;
    letter-spacing: 1px;
}

.add-cart:hover {
    border-top: 4px solid black;
    color: rgb(0, 0, 0);
    font-size: 21px;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    transition: transform 0.2s;
}

.add-cart:active {
    color: rgb(0, 0, 0);
    font-size: 21px;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
}


/* FLOATS */

/* .img-container {
    float: left;

} */

/* .price-container {
    width: 615px;
    padding-right: 50px;
} */

/* .features-container {
    width: 615px;
    padding-right: 50px;
    float: right;
} */

/* alignment fix */
/* .shipping {
    float: right;
    margin-left: -10px;
    padding-right: 140px;
} */

/* .more-info {
    float: left;
} */


/* FLEXBOX */

/* .item-details-wrapper {
    background-color: yellow;
    display: flex;
    justify-content: flex-end;
    align-content: flex-start;
} */

.flex-main {
    display: flex;
    justify-content: flex-start;
}

.color-container {
    display: inline-block;
    position: absolute;
}


.features-container {
    display: inline;
}

.content-wrapper {
    display: flex;
    justify-content: flex-end;
}